<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="../assets/images/taazaa.png" alt="Taazaa" height="25">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about" routerLinkActivate="active">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/Login" routerLinkActivate="active">Login</button>&nbsp;
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/signup" routerLinkActivate="active">Sign Up</button>
    </form>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Welcome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Home" routerLinkActivate="active">Employee</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <a class="nav-link"  routerLink="/Login" routerLinkActivate="active">Login</a>
      <a class="nav-link"  routerLink="/Register" routerLinkActivate="active">Register</a>
      <a class="nav-link" style="cursor:pointer"  >Logout</a>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>