<!-- <div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Sign In</h3>

      </div>
      <div class="card-body">
        <form class="form" #loginForm="ngForm">

          <div class="form-group">
            <label form="">Email</label>
            <input [(ngModel)]="LoginUserData.email" name="email" type="text" class="form-control rounded-0"
              #email="ngModel" required>
            <div style="background-color: white; border: 0px;" *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div style="color: rgb(255, 30, 0);" *ngIf="email.errors?.required">
                Email is required !
              </div>
            </div>
          </div>

          <div class="form-group">
            <label form="">Password</label>
            <input [(ngModel)]="LoginUserData.password" name="password" type="text" class="form-control rounded-0"
              #password="ngModel" required>
            <div style="background-color: white; border: 0px;" *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div style="color: red;" *ngIf="password.errors?.required">
                Password is required !
              </div>
            </div>
          </div>
          <button (click)="LoginUser()" type="button" class="btn btn-success float-right">Login</button>
        </form>
      </div>
    </div>
  </div> -->

  <p>login works!</p>

<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Login Form</h3>

      </div>
      <div class="card-body">
        <form class="form">
             

          <div class="form-group">
          <label form="">Email</label>
          <input [(ngModel)]="LoginUserData.email" name="email" type="email" class="form-control rounded-0" required>
        </div>

        <div class="form-group">
            <label form="">Password</label>
            <input [(ngModel)]="LoginUserData.password" name="password" type="password" class="form-control rounded-0" required>
          </div>
        <button (click)="LoginUser()" type="button" class="btn btn-success float-right">login</button>
        </form>
    </div>
  </div>
</div>